<h1>Профиль</h1>
<div class="row">
    <div class="col s6">
        {{user.avatarUrl}}
            <!--        {{#if user.avatarUrl}}-->
        <img class="avatar" ig="ava" src="https://zodaikapp.s3.us-east-2.amazonaws.com/{{user.avatarUrl}}" alt="avatar">
            <!--        {{else}}-->
        <!--            <p>Аватара нет</p>-->
            <!--        {{/if}}-->

    </div>
    <div class="col s6">
        <form action="/profile" method="post" enctype="multipart/form-data">
            <p>Ваш email: <strong>{{user.email}}</strong></p>
            <div class="input-field">
                <input id="name" type="text" class="validate" name="name" value="{{user.name}}" required minlength="3">
                <label for="name">Name User</label>
                <span class="helper-text" data-error="Введите текст" data-success="right">Введите имя</span>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Аватар</span>
                    <input type="file" name="avatar" id="file-input">

                </div>
                <div class="file-path-wrapper">
                    <input type="text" id="avatar-url" name="avatar" value="{{user.avatarUrl}}">
                    <!--                    <input class="file-path validate" type="text">-->
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn waves-effect waves-light" type="submit" name="action">Отправить
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>
</div>
<script>
    (() => {
        document.getElementById("file-input").onchange = () => {
            const files = document.getElementById('file-input').files;
            console.log('files', files)
            const file = files[0];
            console.log('file', file)
            if (file === null) {
                return alert('No file selected.');
            }
        };
    })();
    // function getSignedRequest(file){
    //     const xhr = new XMLHttpRequest();
    //     console.log('FILE',file,'NAME',file.name,'TYPE',file.type)
    //     const url = `/sign-s3?file-name=${file.name}&file-type=${file.type}`;
    //     console.log(url)
    //     xhr.open('GET', url, true);
    //     console.log(xhr)
    //     xhr.onreadystatechange = () => {
    //         if(xhr.readyState === 4){
    //             if(xhr.status === 200){
    //
    //                 const response = JSON.parse(xhr.responseText);
    //                 console.log(response)
    //                 uploadFile(file, response.signedRequest, response.url);
    //             }
    //             else{
    //                 alert('Could not get signed URL.');
    //             }
    //         }
    //     };
    //     xhr.send();
    // }
    // function uploadFile(file, signedRequest, url){
    //     const xhr = new XMLHttpRequest();
    //     xhr.open('PUT', signedRequest);
    //     xhr.onreadystatechange = () => {
    //         if(xhr.readyState === 4){
    //             if(xhr.status === 200){
    //                 document.getElementById('ava').src = url;
    //                 document.getElementById('avatar-url').value = url;
    //             }
    //             else{
    //                 alert('Could not upload file.');
    //             }
    //         }
    //     };
    //     xhr.send(file);
    // }
</script>